.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1px auto;
}

.wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon_text_wraper {
    display: flex;
    flex-direction: column;
}

.icon_text {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.icon {
    margin-right: 10px;
}

.delete_button {
    margin-left: 15px;
}


.delete_button button {
    display: none;
}

.icon_text:hover {
    .delete_button button {
        display: block;
    }

}



.button_wraper {
    display: none;
}


.container:hover {
    .button_wraper {
        display: block;
    }
}


.text {
    overflow: hidden;
    width: 100%;
}