.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: linear-gradient(135deg, #dfe6e9, #b2bec3);

}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.body {
    display: inline-flex;
    color: black;
    margin-bottom: 100px;
    max-width: 100%;
    overflow: auto;

}

.edit_component {
    display: inline-flex;
    flex-direction: row-reverse;
    position: relative;
}



@media only screen and (max-width: 600px) {
    .edit_component {
        transform: scale(.38);
        margin-top: -350px;

    }
}

@media only screen and (max-width: 840px) and (min-width: 600px) {
    .edit_component {
        transform: scale(.60);
        margin-top: -230px;
    }
}


.buttons {
    display: inline-flex;
    position: absolute;
    margin-top: 18px;
    z-index: 100;
    align-items: center;

}

/* ----------------- Drawer CSS Start-----------------------*/

.drawer_container {
    position: fixed;
    right: -250px;
    color: white;
    transition: right .5s;
    z-index: 200;
}

.drawer {
    display: flex;
    background-color: #9ca3af;
    width: 250px;
    height: 100vh;
    border-color: white;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.drawer_heading {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
}

.items_inside {
    margin: 17px 35px;
    padding: 5px;
}

.icon {
    margin-left: 10px;
}


/* ----------------- Drawer CSS End-----------------------*/