.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-size: large;
}

.title_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;


}

.title {
    display: flex;
    font-weight: 800;
    max-width: 90%;
    font-size: x-large;
    margin-bottom: 2px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

}

.icon {
    margin-right: 10px;
}

.button {
    display: none;
    width: 10%;
}

.title_wrap:hover {

    .button {
        display: block;
    }
}





.work_content_wrap {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}

.work_content_wrap_with_border {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-top: dotted;
    padding: 10px 0;

}

.work_content {
    display: inline-flex;
    flex-direction: column;
    width: 90%;
}

.position_date {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;

}

.date {
    display: inline-flex;
    flex-direction: row;
}

.responsibilities {
    display: inline-flex;
    flex-direction: row;
    font-weight: 700;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.bullet_points_wrap {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.bullet_points {
    display: inline-flex;
    flex-direction: column;
}


.position {
    font-weight: 600;
    font-size: 1.3rem;
}

.company {
    font-weight: 400;
    font-size: 1.1rem;
}


.bullet_points_delete_button {
    margin-left: 15px;
}

.responsibilities {
    margin-top: 10px;
}

.bullets {
    margin-right: 10px;
}



/* ===========  button display on - off start ============= */


.responsibility_add_button {
    display: none;
}

.responsibilities_full_wrap:hover {
    .responsibility_add_button {
        display: block;
    }

}

.bullet_points_delete_button {
    display: none;
}

.bullet_points_wrap:hover {
    .bullet_points_delete_button {
        display: block;
    }

}

.work_delete {
    display: none;

}

.work_content_wrap_with_border:hover {
    .work_delete {
        display: block;
    }
}

.work_content_wrap:hover {
    .work_delete {
        display: block;
    }

}


/* ===========  button display on - off End ============= */